<?xml version="1.0"?>
<robot name="vehicle" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find autoware_sample_platform_launch)/description/vehicle/urdf/vehicle.xacro"/>
  <xacro:include filename="$(find autoware_sample_platform_launch)/description/sensors/default/urdf/sensors.xacro"/>
</robot>
