name: build-test-tidy-pr

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  require-label:
    uses: autowarefoundation/autoware-github-actions/.github/workflows/require-label.yaml@v1
    with:
      label: run:build-and-test-differential

  build-and-test-differential:
    needs:
      - require-label
    strategy:
      fail-fast: false
      matrix:
        include:
          - rosdistro: humble
            container: ghcr.io/autowarefoundation/autoware:core-common-devel
            above: false

          - rosdistro: humble
            container: ghcr.io/autowarefoundation/autoware:core-common-devel
            above: true

          - rosdistro: jazzy
            container: ghcr.io/autowarefoundation/autoware:core-common-devel-jazzy-amd64
            above: false

          - rosdistro: jazzy
            container: ghcr.io/autowarefoundation/autoware:core-common-devel-jazzy-amd64
            above: true

    uses: ./.github/workflows/build-and-test-reusable.yaml

    with:
      rosdistro: ${{ matrix.rosdistro }}
      container: ${{ matrix.container }}
      pull-ccache: true
      push-ccache: false
      cache-key-element: daily-build
      above: ${{ matrix.above }}

    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
