name: build-and-test

on:
  push:
    branches:
      - main

env:
  CC: /usr/lib/ccache/gcc
  CXX: /usr/lib/ccache/g++

jobs:
  build-and-test:
    strategy:
      matrix:
        include:
          - rosdistro: humble
            container: ghcr.io/autowarefoundation/autoware:core-common-devel
            above: false
            codecov-flag: total
            concurrency-group: humble

          - rosdistro: humble
            container: ghcr.io/autowarefoundation/autoware:core-common-devel
            above: true
            codecov-flag: not-used
            concurrency-group: humble-above

          - rosdistro: jazzy
            container: ghcr.io/autowarefoundation/autoware:core-common-devel-jazzy-amd64
            above: false
            codecov-flag: total-jazzy
            concurrency-group: jazzy

          - rosdistro: jazzy
            container: ghcr.io/autowarefoundation/autoware:core-common-devel-jazzy-amd64
            above: true
            codecov-flag: not-used
            concurrency-group: above-jazzy

    uses: ./.github/workflows/build-and-test-reusable.yaml

    with:
      rosdistro: ${{ matrix.rosdistro }}
      container: ${{ matrix.container }}
      pull-ccache: false
      push-ccache: true
      cache-key-element: build
      above: ${{ matrix.above }}
      codecov-flag: ${{ matrix.codecov-flag }}
      concurrency-group: build-and-test-${{ matrix.concurrency-group }}-${{ github.ref }}-${{ github.run_id }}

    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
