name: build-test-tidy-pr

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  require-label:
    uses: autowarefoundation/autoware-github-actions/.github/workflows/require-label.yaml@v1
    with:
      label: run:build-and-test-differential

  bnt-diff:
    needs:
      - require-label
    strategy:
      fail-fast: false
      matrix:
        rosdistro: [humble, jazzy]
        above: [false, true]
        include:
          - rosdistro: humble
            container: ghcr.io/autowarefoundation/autoware:core-common-devel

          - rosdistro: jazzy
            container: ghcr.io/autowarefoundation/autoware:core-common-devel-jazzy-amd64

    uses: ./.github/workflows/build-and-test-diff-reusable.yaml

    with:
      rosdistro: ${{ matrix.rosdistro }}
      container: ${{ matrix.container }}
      above: ${{ matrix.above }}

    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
